/*** ESTILOS DEL FOOTER ***/


#footer {
  padding: 15px;
  color: #f4f6fd;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 9999;
  background: #040b14;
  transition: all ease-in-out 0.5s;


}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #eaebf0;
}


.light-theme .copyright{
  color: #040b14!important;
}
.light-theme .credits{
  color: #040b14!important;
}

 #footer{
   background-color: transparent!important;
 }

@media (max-width: 1199px) {
  #footer {
    left: -300px;
  }
}
